# Don’t commit the following directories created by pub.
.buildlog
.pub/
build/
packages
cache

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps

# Include when developing application packages.
pubspec.lock