<!DOCTYPE html>
<html ng-app>
<head>
    <title>Research LIMS</title>
    <link rel="stylesheet" href="style.css">

    <script src="packages/web_components/platform.js"></script>
    <script src="packages/web_components/dart_support.js"></script>
</head>
<body create-study ng-cloak>
  <div>
      <h3>Create a new study</h3>
      
      <select>
   <option ng-repeat="c in ctrl.categories" ng-value="c">{{c}}</option>
   </select>

      <nav id="controls">
        <search-study 
            name-filter-string="ctrl.nameFilter"
            category-filter-map="ctrl.categoryFilterMap">
        </search-study>

        <a href="#/add"><input type="button" value="Add Study"></a><br/>
      </nav>
      
      <nav id="search-results">
        <div id="study-list">
          <ul>
            <li ng-repeat="recipe in ctrl.allStudies | orderBy:'name'">
              hej
            </li>
          </ul>
        </div>      
      </nav>
  
      <section id="details">
        <ng-view></ng-view>
      </section>
      
    </div>

  <script type="application/dart" src="main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>
