<!DOCTYPE html>
<html ng-app>
<head>
    <title>Research LIMS</title>
    <link rel="stylesheet" href="style.css">

    <script src="packages/web_components/platform.js"></script>
    <script src="packages/web_components/dart_support.js"></script>
    <link rel="import" href="bower_components/paper-input/paper-input.html">
    <link rel="import" href="bower_components/paper-button/paper-button.html">
    <link rel="import" href="bower_components/paper-dropdown/paper-dropdown.html">
    <link rel="import" href="bower_components/paper-item/paper-item.html">
    <style shim-shadowdom>
        paper-button.colored {
      background: #4285f4;
      color: #fff;
    }
    </style>
</head>
<body create-study ng-cloak>
  <div>
      <h3>Create a new study</h3>
      Using template: {{template}} <br>
      
      <paper-dropdown valueattr="id" on-core-select="ctrl.alert" bind-selected="template">
        <paper-item ng-repeat="t in ctrl.templates" label="{{t.name}}" id="{{t.id}}"></paper-item>
      </paper-dropdown>
   {{ctrl.selectedStudy.name}}
<paper-input floatingLabel label="Study Name" type="text" bind-value="ctrl.selectedStudy.name"></paper-input><br>
<textarea rows=10 ng-model="ctrl.selectedStudy.description">
</textarea>
     
        <a href="#/add">
        <paper-button label="Add Study" class="colored" on-click="ctrl.alert"></paper-button>
        </a>
        <br/> 
      <nav id="search-results">
        <div id="study-list">
          <ul>
            <li ng-repeat="study in ctrl.allStudies | orderBy:'name'">
              {{study.name}}
            </li>
          </ul>
        </div>      
      </nav>
  
      <section id="details">

        <ng-view></ng-view>
      </section>
      
    </div>

  <script type="application/dart" src="main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>